<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs') %>
    <title>Edit Account</title>
<body style="background-color: #f3f3f3;">
    <%- include('navbar.ejs') %>
    <div class="acc_edit_main" id="edit_account">
      <div class="acc_edit_details">
          <h2>EDIT account Information</h2>
          <form action="/api/admin/edit_account/<%= Account_details.id %>" method="post">
          <div class="acc_edit_detail">
              <p ><b>Name</b><input type="text" name="acc_name" id="name" placeholder="Enter Name" value='<%= Account_details.acc_name %>' required></p>
          </div>
          <div class="acc_edit_detail">
              <p><b>Mobile No</b><input type="text" name="acc_mobileno" id="email" placeholder="Enter Mobile" required value='<%= Account_details.mobile_no %>' ></p>
          </div>
          <div class="acc_edit_detail">
              <p ><b>Account Name</b><input type="text" name="acc_accountname" id="pid" placeholder="Enter Account Name" required value='<%= Account_details.account_name %>' ></p>
          </div>
          <div class="acc_edit_detail">
              <p ><b>Account No</b><input type="text" name="acc_accountno" id="mobile" placeholder="Enter Account No" required value='<%= Account_details.account_no %>' ></p>
          </div>
     
        
      </div>
      <div class="acc_edit_details_two">
          <div class="acc_edit_detail1">
            <p><b>Account IFSC</b><input type="text" name="acc_code" id="mobile" placeholder="Enter Account IFSC" required value='<%= Account_details.account_ifsc_no %>' ></p>
          </div>
          <div class="acc_edit_detail1">
            <p ><b>Total Amount</b><input type="text" name="acc_ammount" id="mobile" placeholder="Enter Amount" required value='<%= Account_details.total_ammount %>' ></p>
          </div>
          <div class="acc_edit_detail1">
            <p ><b>Date</b><input type="text" name="acc_date" id="mobile" placeholder="Enter DD/MM/YYYY" required value='<%= Account_details.order_date %>' ></p>
          </div>
      </div>
        <input type="submit" name="Edit" id="acc_edit_button">
      </div>
    </form>

    <!-- <h1>Hello World!</h1> -->

    <script src="/js/editaccount.js"> </script>

</body>
</html>